[submodule "projects/zlib"]
	path = projects/zlib
	url = https://github.com/madler/zlib.git
  ignore = dirty
[submodule "projects/fff"]
	path = projects/fff
	url = https://github.com/meekrosoft/fff.git
  ignore = dirty
[submodule "projects/SDL"]
	path = projects/SDL
	url = https://github.com/libsdl-org/SDL.git
  ignore = dirty
[submodule "projects/googletest"]
	path = projects/googletest
	url = https://github.com/google/googletest.git
[submodule "projects/libpng"]
	path = projects/libpng
	url = https://github.com/pnggroup/libpng
  ignore = dirty
[submodule "projects/magic_enum"]
	path = projects/magic_enum
	url = https://github.com/Neargye/magic_enum.git
  ignore = dirty
[submodule "projects/VulkanMemoryAllocator"]
	path = projects/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
  ignore = dirty
[submodule "projects/libzip"]
	path = projects/libzip
	url = https://github.com/nih-at/libzip
  ignore = dirty
[submodule "projects/boost"]
	path = projects/boost
	url = https://github.com/boostorg/boost.git
  ignore = dirty
[submodule "projects/imgui"]
	path = projects/imgui
	url = https://github.com/ocornut/imgui.git
  ignore = dirty
[submodule "projects/pugixml"]
	path = projects/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "projects/tracy"]
	path = projects/tracy
	url = https://github.com/wolfpld/tracy.git
  ignore = dirty
[submodule "projects/zydis"]
	path = projects/zydis
	url = https://github.com/zyantific/zydis.git
  ignore = dirty
